Auto complete api - AIzaSyBstzeOmbPivbGlJ_39mC4n7SyeOHfALFU
Google geocode api - AIzaSyBstzeOmbPivbGlJ_39mC4n7SyeOHfALFU
Google custom search engine id - 012025193315868979576:j2tes7uqt1m
Custom search api - AIzaSyBstzeOmbPivbGlJ_39mC4n7SyeOHfALFU
Dark sky api - 45aa47c3d7fb9ce5fe6cbe0bc841aab0